body {
	background-color: wheat;
}

.view {
	height: 100vh;
	/* background-image: url(/img/art1.jpg) no-repeat center; */
	background: url(/img/art1.jpg) no-repeat center center fixed;
	background-size: cover;
	border-color: red, solid, 1px;
}

h1 {
	font-size: 60;
}

/* 
.top-nav-collapse {
	background-color: #24355c;
}

/* должно склывать цвет навигации при верху страницы */
/* @media (max-width: 768px) {
	.navbar:not(.top-nav-collapse) {
		background: #24355c;
	}
} */