/* * {
	border: 1px solid black;
} */

body {
	background-color: #cff;
	width: 800px;
}

ul {
	list-style: none
}

.header {
	height: 3em;
	background-color: #aff;
}

.kw {

	border: 5px;
	width: 700px;
}