/* * {
	border: 1px solid black;
} */

/* 
.container {
	border: 3px solid #aff;
} */


.bg-1 {
	background-color: rgba(220, 220, 220, 0.4);
	margin-right: -15px;
	margin-left: -15px;
	padding-right: 8px;
	padding-left: 8px;

}

.bg-2 {
	background-color: rgb(240, 255, 255);
	width: 100vmin;
}


ul {
	list-style: none
}

/* header {
	height: 4em;
	width: 100%;
	background-color: #aff;
} */

h4 {
	padding-left: 1em;
}

.standart-phrase {
	color: darkgreen;
}

.en {
	color: darkblue;
}