.container {
	max-width: 1100px;
}

.bg-1 {
	background-color: rgba(220, 220, 220, 0.4);
}

/* второй тип фона,
не получается - margin p выходит за рамки div и некрасиво пустые места.  */
.bg-2 {
	background-color: rgb(240, 255, 255);
}

ul {
	list-style: none
}

/* header {
	height: 4em;
	width: 100%;
	background-color: #aff;
} */

h4 {
	margin-top: 1rem;
	padding-left: 1em;
}

.standart-phrase {
	color: darkgreen;
	text-transform: uppercase;

}

.standart-phrase li {
	text-decoration: none;
	list-style: none;
}

.en {
	color: darkblue;
}

.SoT,
.FT,
.Question {
	font-weight: 600;
}