.container {
	max-width: 992px;
}

.bg-1 {
	background-color: rgba(220, 220, 220, 0.4);
}

.bg-2 {
	background-color: rgb(240, 255, 255);
}

ul {
	list-style: none;
	padding-inline-start: 1.25em;
}

section {
	margin-right: -15px;
	margin-left: -15px;
	padding-left: 15px;
}

h4 {
	margin-top: 1rem;
	margin-bottom: 0;
	padding-left: 1em;
	padding-bottom: 0.5rem;
}



/* Текстовые модификаторы */
.SoT,
.FT,
.Question,
.Negative {
	font-weight: 600;
}

.standart-phrase {
	color: darkgreen;
	text-transform: uppercase;

}

.standart-phrase li {
	text-decoration: none;
	list-style: none;
}

.en {
	color: darkblue;
}