.container {
	max-width: 992px;
}


/* Текстовые модификаторы */
.sot,
.ft,
.question,
.negative {
	font-weight: 600;
}

.standart-phrase {
	color: darkgreen;
	text-transform: uppercase;

}

.standart-phrase li {
	text-decoration: none;
	list-style: none;

}

.en {
	color: darkblue;
}